node_modules
.next
.env.local
.nexus-storage
prisma/dev.db*
*.log
.DS_Store
next-env.d.ts
tsconfig.tsbuildinfo
coverage

# test database
prisma/test.db
prisma/test.db-journal

# deployment
.vercel
.env
.env.production
prisma/schema.generated.prisma
